/** CLEARFIX stops the floats! **/

.row::after {
    content: "";
    clear: both;
    display: block;}


/** TO DEFAULT ALL COLUMN CLASSES TO 100% AND FLOAT THEM LEFT **/

[class*="col-"]  {float: left; width: 100%; margin: 0;}


/** Assign widths to column classes **/

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    box-sizing: border-box;
    background-color: #c5c6c7;
    max-width: 1140px;
	margin: auto;
}
section ul li{display: unset;}
section ul li:nth-child(2) {
    display: none;
}
section ul li:nth-child(3) {
    display: none;
}
header img, h3 {display: none;}
.col-4{display:none;}
.img2{display: none;}
.sub_info{ display:none}

header img {
    float: right;
    width: 25%;
    height: auto;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45a29e;
}
header li {
    float: left;
}
.big_nav{display: none}

.little_nav ul{
    list-style: none;
    background: #45a29e;
    padding: 5px 0;
}
.little_nav li{
    color: #1c1c1c;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;

}
p:last-child{display: none;}
header a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
header img{
    width:25%;
    margin:5px;
}
.banner {
    text-align: center;
    padding: 3em;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin: inherit;
    background-color: #1f2833;
    color: #ffffff;
}
h3{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    text-align: center;
    margin: inherit;
}
p {
    font-family: 'Merriweather', serif;
    margin: 20px;
    padding: 3%;
}
.img2{
      width:40%;
    float: right;
    margin: 5px;
}

img {
      width:70%;
    margin: 20px;
    float:left;
}
footer ul{
    padding: .5em;
    clear: left;
    text-align: center;
    list-style-type: none;
    font-family: 'Merriweather', serif;
    color: #151515;
}

a.nav_button{
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    padding: 14px 16px;
   
}


/** TO TRIGGER TABLET VIEW AND SET TAB COLUMN WIDTHS**/

@media screen and (min-width: 768px){
    
    a.nav_button{ display: none}
    .little_nav{display:none}
    .big_nav{ display: unset}
    header img, h3 {display: unset;} 
    .col-4{display:unset;}
    .img2{display: none;}
    .sub_info{display: unset;} 
    section ul li{display: unset;}
    section ul li:nth-child(2) {
    display: unset;
}
section ul li:nth-child(3) {
    display: unset;
}
    

    .big_nav{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    }
    p:last-child{
        display: unset;
        background: #ffffff;
        display: block;
    }

.col-t-1 {width: 8.33%;}

.col-t-2 {width: 16.66%;}

.col-t-3 {width: 25%;}

.col-t-4 {width: 33.33%;}

.col-t-5 {width: 41.66%;}

.col-t-6 {width: 50%;}

.col-t-7 {width: 58.33%;}

.col-t-8 {width: 66.66%;}

.col-t-9 {width: 75%;}

.col-t-10 {width: 83.33%;}

.col-t-11 {width: 91.66%;}

.col-t-12 {width: 100%;}

}
/** TO TRIGGER DESKTOP VIEW AND SET DESKTOP COLUMN WIDTHS**/

@media screen and (min-width: 1025px){
    
     a.nav_button{display: none}
    .little_nav{display:none}
    .big_nav{display: unset}
    header h3 {display: unset;}
    .col-4{display:unset;}
    .img2{display: unset;}
    .sub_info{display: unset;}
    ol li{display: unset;}
section ul li{display: unset;}
section ul li:nth-child(2) {
    display: unset;
}
section ul li:nth-child(3) {
    display: unset;
}
    
    .big_nav{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    }
    p:last-child{
        display: unset;
        background: #ffffff;
        display: block;
    }

.col-d-1 {width: 8.33%;}

.col-d-2 {width: 16.66%;}

.col-d-3 {width: 25%;}

.col-d-4 {width: 33.33%;}

.col-d-5 {width: 41.66%;}

.col-d-6 {width: 50%;}

.col-d-7 {width: 58.33%;}

.col-d-8 {width: 66.66%;}

.col-d-9 {width: 75%;}

.col-d-10 {width: 83.33%;}

.col-d-11 {width: 91.66%;}

.col-d-12 {width: 100%;}

}

