body {
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
    background-color: #c5c6c7;
 
}
.banner {
    text-align: center;
    padding: 3em;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin: inherit;
    background-color: #1f2833;
    color: #ffffff;
}
section{
    font-family: 'Merriweather', serif;

}
h3{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    text-align: center;
    margin: inherit;
}
header img {
    float: right;
    width: 25%;
    height: auto;
}
.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45a29e;
}
.liNav {
    float: left;
}

.aNav{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
footer ul{
    padding: .5em;
    clear: left;
    text-align: center;
    list-style-type: none;
    font-family: 'Merriweather', serif;
    color: #151515;
}

section img{
    width: 80%;    
}

header img{
    width: 25%;
}

.row::after {
    content: "";
    clear: both;
    display: block;}


/** Float ALL the column classes **/

[class*="col-"] {
    float: left;  }


/** Assign widths to column classes **/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}