body {
    box-sizing: border-box;
    width: 100%;
    background-color: #1f2833;}
.banner {
    text-align: center;
    padding: 3em;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin: inherit;
    background-color: #1f2833;
    color: #ffffff;
}
header img {
    float: right;
    width: 25%;
    height: auto;
}
.big_nav{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    }
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45a29e;
}
header li {
    float: left;
}
header a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
header, ul, section{ font-family: 'Merriweather', serif;} 

h1{ 
    text-align: left;
    background-color: #c5c6c7;
    height: 75px;
    padding: 25px;
    margin:10px 50px 20px 20px;
}

ul {
    list-style-type: square;
}
.stuff{
    list-style-type: none;
    text-align: center;
    color: #ffffff;
}

h2{

    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    text-align: center;
    margin: inherit;
}

dt{
    
    font-size: 20px;
}

.title{
    font-weight: bold;
}

section{
    background-color: #c5c6c7;
    margin:10px 50px 20px 20px;
   
}
footer ul{
    padding: 1em;
    clear: left;
    text-align: center;
    list-style-type: none;
    font-family: 'Merriweather', serif;
    color: #151515;
    background-color: #c5c6c7; 

}
.row::after {
    content: "";
    clear: both;
    display: block;}

